{% extends 'base.html' %}
 {% block body_block %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Calendar</h1>
    </div>
    <div class="col-md-8">
      <button onclick="window.location='{% url 'add' %}'" type="button" class="btn btn-primary">ADD ENTRY</button>
    </div>
  </div>
</div>
   <hr />
  <div class="container">
    <div class="row">
      {% for entry in entries %}
      {% include 'calendar_entry.html' %}
      {% endfor %}
    </div><br>
    {% include 'calendar.html' %}
  </div><br>


{% endblock %}
