{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{% static "graphs/jk1.png" %}" width="1100px" height="500px"/>
      <img src="{% static "graphs/jk2.png" %}" width="1100px" height="500px"/>
      <img src="{% static "graphs/jk3.png" %}" width="1100px" height="500px"/>
      <img src="{% static "family_health/family_health1.png" %}" width="1100px" height="500px"/>
      <img src="{% static "family_health/family_health2.png" %}" width="1100px" height="500px"/>
      <img src="{% static "family_health/family_health3.png" %}" width="1100px" height="500px"/>
      <img src="{% static "child_health/child1.png" %}" width="1100px" height="500px"/>
      <img src="{% static "child_health/child2.png" %}" width="1100px" height="500px"/>
      <img src="{% static "child_health/child3.png" %}" width="1100px" height="500px"/>
    </div>
    
  </div>
</div>

{% endblock %}
