{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">-->
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
<link rel="stylesheet" href="{% static 'css/mystyle1.css' %}" />
<style>
a {
    font-size: 13px;
  }
</style>
<script>
jQuery(function ($) {
    $('#accordion li').hover(function () {
        $(this).find('ul').stop(true, true).slideDown("slow")
    }, function () {
        $(this).find('ul').stop(true, true).slideUp("slow")
    }).find('ul').hide();
});
jQuery(function ($) {
    $('#accordion1').hover(function () {
        $(this).find('li').stop(true, true).slideDown("slow")
    }, function () {
        $(this).find('li').stop(true, true).slideUp("slow")
    }).find('li').hide();
  });
  function myFunction() {
  var x = document.getElementById("well");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
 <nav class="navbar navbar-default navbar-static-top" style="margin-top:20px;">
 	<div class="container-fluid">
    <div class="container">
 <center><font color="blue"><h3 class="section-title h1"><b>PROGRAMMES AND SCHEMES</b></h3></font></center>
 		<!-- Brand and toggle get grouped for better mobile display -->
 		<div class="navbar-header">
 			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
 				<span class="sr-only">Toggle navigation</span>
 				<span class="icon-bar"></span>
 				<span class="icon-bar"></span>
 				<span class="icon-bar"></span>
 			</button>
 	</nav>
<div class="container">
<div class="row" style="margin-top:20px;">
<div class="col-md-3 sidebar">
  <h2><b>PROGRAMES</b></h2></br>
    <ul id="accordion">
       <li class=""> <a href="#" class="history_heading btn btn-primary" rel="history_heading"><b>RMNCH+A</b></a>
           <ul>
             <br/><li id="mh" onclick="myFunction()"><a class="btn btn-primary" href="" class="mh"><b>MATERNAL HEALTH</b></a></li><br>
             <li><a class="btn btn-primary" href="https://www.medicinenet.com/childrens_health/article.htm#introduction_to_children#39s_health"><b>CHILD HEALTH</b></a></li></br>
             <li id="accordion1"><a class="btn btn-primary" href="https://jamanetwork.com/journals/jamapediatrics/fullarticle/345607"><b>ADOLESCENT HEALTH</b></a>
                 <ul>
                   <br><li><a class="btn btn-primary" href="http://nhm.gov.in/nrhmcomponnets/reproductive-child-health/adolescent-health/arsh.html?start=5"><b>ARSH</b></a></li><br>
                   <li><a class="btn btn-primary" href="http://nhm.gov.in/rashtriya-kishor-swasthya-karyakram.html"><b>RKSK</b></a></li><br>
                   <li><a class="btn btn-primary" href="http://nhm.gov.in/nrhmcomponnets/reproductive-child-health/adolescent-health/wifs.html"><b>WIFS</b></a></li>
                 </ul>
              </li></br>
               <li><a class="btn btn-primary" href="http://nhm.gov.in/nrhm-components/rmnch-a/family-planning/background.html"><b>FAMILY PLANNING</b></a></li>
           </ul>
       </li></br>
       <li><a class="btn btn-primary" href="http://www.nhm.gov.in/nrhmcomponnets/national-disease-control-programmes-ndcps.html"><b>NDCPs</b></li></a></br>
       <li><a class="btn btn-primary" href="http://nhm.gov.in/nhm/nuhm.html"><b>NHUM</b></a></li></br>
       <li><a class="btn btn-primary" href="http://nhm.gov.in/communitisation/asha/about-asha.html"><b>ASHA CP/Trainings</b></a></li>
   </ul>
</div>
<div class="col-md-1">

</div>
  <div class="col-md-6">
    <img class="img-fluid" src="{% static "image1/program1.png" %}" alt="card image" height="500px"; width="700px";>
    <!--<div class="well" id="well" >Basic Well</div>-->
  </div>

</div>

<br/><br/><br/>
 <div class="row">
<div class="col-md-3 sidebar">
  <h2><b>SCHEMES</b></h2></br>
     <ul id="accordion">
        <li class=""> <a class="btn btn-primary" href="#" class="history_heading" rel="history_heading"><b>MATERNAL HEALTH</b></a>
            <ul>
              <br/><li><a class="btn btn-primary"href="http://nhm.gov.in/janani-shishu-suraksha-karyakram.html"><b>JSSK</b></a></li></br>
              <li><a class="btn btn-primary" href="http://www.pacsindia.org/projects/health-and-nutrition/jsy-maternal-health-scheme"><b>JSY</b></a></li>
            </ul>
        </li></br>
        <li><a class="btn btn-primary" href="http://www.nhm.gov.in/nrhmcomponnets/national-disease-control-programmes-ndcps.html"><b>FAMILY PLANNING</b></li></a></br>
        <li class=""> <a class="btn btn-primary" href="#" class="history_heading" rel="history_heading"><b>ADOLESCENT HEALTH</b></a>
            <ul>
              <br/><li><a class="btn btn-primary" href="http://nhm.gov.in/nrhm-components/rmnch-a/adolescent-health-rksk/menstrual-hygiene-scheme-mhs/background.html"><b>MHS</b></a></li></br>
              <li><a class="btn btn-primary"href="https://www.ncbi.nlm.nih.gov/books/NBK200783/"><b>WIFS</b></a></li>
            </ul>
        </li></br>
        <li class=""> <a class="btn btn-primary" href="#" class="history_heading" rel="history_heading"><b>CHILD HEALTH</b></a>
            <ul>
              <br/><li><a class="btn btn-primary" href="https://www.researchgate.net/publication/274251583_Facility_Based_Newborn_Care_Operational_Guidelines_FBNC"><b>FBNC</b></a></li></br>
              <li><a class="btn btn-primary" href="http://nhm.gov.in/janani-shishu-suraksha-karyakram.html"><b>JSSK</b></a></li></br>
              <li><a class="btn btn-primary" href="http://www.who.int/maternal_child_adolescent/topics/child/imci/en/"><b>IMNCI</b></a></li></br>
              <li><a class="btn btn-primary" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5144118/"><b>HBNC</b></a></li></br>
              <li><a class="btn btn-primary" href="http://www.nihfw.org/pdf/NCHRC-Publications/NavjaatShishuTrgMan.pdf"><b>NSSK & IYCF</b></a></li></br>
              <li><a class="btn btn-primary" href="http://www.nrcmis.mp.gov.in/NRCConcept.aspx"><b>NRC</b></a></li></br>
              <li><a class="btn btn-primary" href="https://academic.oup.com/jn/article/133/6/1997S/4688112"><b>Nutrient supplement</b></a></li></br>
              <li><a class="btn btn-primary" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2864372/"><b>CMMR</b></a></li></br>
            </ul>
        </li></br>
    </ul>
 </div>
 <div class="col-md-1">

 </div>
   <div class="col-md-6" style="padding-top:0px;">
     <p><img class=" img-fluid" src="{% static "image1/schem2.png" %}" alt="card image" height="500px"; width="700px";></p>
   </div>
  </div>
</div>
 {% endblock %}
